force-app/main/default/flows/Lease_Calculator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Calculate_Lease_Func</name>
        <label>Calculate Lease</label>
        <locationX>1225</locationX>
        <locationY>333</locationY>
        <actionName>LeaseCalculatorService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Finalized_State</targetReference>
        </connector>
        <inputParameters>
            <name>downPayment</name>
            <value>
                <elementReference>PriceCalcComponent.downPayment</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isRVPercent</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leaseTerm</name>
            <value>
                <elementReference>PriceCalcComponent.leaseTerm</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>make</name>
            <value>
                <elementReference>make</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mf</name>
            <value>
                <elementReference>PriceCalcComponent.mf</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>msrp</name>
            <value>
                <elementReference>PriceCalcComponent.msrp</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>rv</name>
            <value>
                <elementReference>PriceCalcComponent.rv</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesTax</name>
            <value>
                <elementReference>PriceCalcComponent.salesTax</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sellingPrice</name>
            <value>
                <elementReference>PriceCalcComponent.sellingPrice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>totalFees</name>
            <value>
                <elementReference>PriceCalcComponent.totalFees</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>aprString</assignToReference>
            <name>apr</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>totalDriveOffPayment</assignToReference>
            <name>totalDriveOffPayment</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>MonthlyPaymentString</assignToReference>
            <name>monthlyPayment</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>msrpDiscountString</assignToReference>
            <name>msrpDiscount</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>rvString</assignToReference>
            <name>residual</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>TotalLeaseCostString</assignToReference>
            <name>totalLeaseCost</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Set_Configuration_Stage</name>
        <label>Set Configuration Stage</label>
        <locationX>814</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Car_Configuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Options</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Finalized_State</name>
        <label>Set Finalized State</label>
        <locationX>1359</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finalize_Lease_Agreement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lease_Details_Stage</name>
        <label>Set Lease Details Stage</label>
        <locationX>1077</locationX>
        <locationY>333</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirm_Lease_Details</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Input</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Lease Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lease Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Order</name>
        <label>Create Order</label>
        <locationX>944</locationX>
        <locationY>333</locationY>
        <connector>
            <targetReference>Set_Lease_Details_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Configuration__c</field>
            <value>
                <elementReference>Get_Car_Configuration.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Vehicle_Order__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Car_Configuration</name>
        <label>Get Car Configuration</label>
        <locationX>556</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Options</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Car_Configuration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Options</name>
        <label>Get Options</label>
        <locationX>680</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Configuration_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Car_Configuration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Car_Options__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Configuration</name>
        <label>Update Configuration</label>
        <locationX>1507</locationX>
        <locationY>332</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Sign Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Car_Configuration__c</object>
    </recordUpdates>
    <screens>
        <name>Confirm_Options</name>
        <label>Confirm Options</label>
        <locationX>878</locationX>
        <locationY>97</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Order</targetReference>
        </connector>
        <fields>
            <name>CarOptionsHeader</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Lease Calculator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>OptionsStage</name>
            <extensionName>c:leasingStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CarSummaryComponent</name>
            <extensionName>c:carSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>state</name>
                <value>
                    <stringValue>flow</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CarOptions</name>
            <extensionName>c:carOptions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>optionsFooter</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Input</name>
        <label>Input</label>
        <locationX>1148</locationX>
        <locationY>98</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Calculate_Lease_Func</targetReference>
        </connector>
        <fields>
            <name>LeaseCalculatorHeader</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Lease Calculator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>StagesCalc</name>
            <extensionName>c:leasingStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>PriceCalcComponent</name>
            <extensionName>c:priceCalculator</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>downPayment</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mf</name>
                <value>
                    <numberValue>0.00125</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>msrp</name>
                <value>
                    <elementReference>Get_Options.Option_MSRP__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>rv</name>
                <value>
                    <numberValue>25000.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>salesTax</name>
                <value>
                    <numberValue>0.0625</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalFees</name>
                <value>
                    <numberValue>1000.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>calcFooter</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>1433</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Configuration</targetReference>
        </connector>
        <fields>
            <name>LeaseResultsHeader</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Lease Calcualtor</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeaseDetails</name>
            <extensionName>c:leaseDetails</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>apr</name>
                <value>
                    <elementReference>aprString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>msrpDiscount</name>
                <value>
                    <elementReference>msrpDiscountString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>msrp</name>
                <value>
                    <elementReference>Get_Options.Option_MSRP__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>residual</name>
                <value>
                    <elementReference>rvString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalDriveOffPayment</name>
                <value>
                    <elementReference>totalDriveOffPayment</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalLeaseCost</name>
                <value>
                    <elementReference>TotalLeaseCost</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>totalMonthlyPayment</name>
                <value>
                    <elementReference>MonthlyPaymentString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sellingCost</name>
                <value>
                    <elementReference>PriceCalcComponent.sellingPrice</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeaseDetailsFooter</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Send Lease Agreement</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Verify_Details</name>
        <label>Verify Details</label>
        <locationX>556</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Car_Configuration</targetReference>
        </connector>
        <fields>
            <name>LeadSummaryHeader</name>
            <extensionName>c:flowHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>title</name>
                <value>
                    <stringValue>Lease Calculator</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>VerifyDetailsStage</name>
            <extensionName>c:leasingStages</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeadDetails</name>
            <extensionName>c:leadSummary</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>contactFooter</name>
            <extensionName>c:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Next</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <stages>
        <name>Confirm_Lease_Details</name>
        <isActive>true</isActive>
        <label>Confirm Lease Details</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Finalize_Lease_Agreement</name>
        <isActive>true</isActive>
        <label>Finalize Lease Agreement</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Verify_Car_Configuration</name>
        <isActive>true</isActive>
        <label>Verify Car Configuration</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Verify_Contact_Details</name>
        <isActive>true</isActive>
        <label>Verify Contact Details</label>
        <stageOrder>1</stageOrder>
    </stages>
    <start>
        <locationX>165</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>Verify_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aprString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>make</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Toyota</stringValue>
        </value>
    </variables>
    <variables>
        <name>MonthlyPayment</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MonthlyPaymentString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>msrpDiscountString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rvString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>totalDriveOffPayment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalLeaseCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalLeaseCostString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
